body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', 'Monaco', 'Courier New', monospace;
    background-color: #4e5045;
    color: #F8F8F2;
}

.header-container {
    width: 100%;
    padding: 1rem;
    background-color: #272822;


}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    max-width: 90vw;
    margin: 0 auto;
    padding: 0 1rem;
}

.site-logo-name {
    font-size: 2rem;
    font-weight: bold;
    color: #F8F8F2;
    cursor: pointer;
}

.header-nav {
    display: flex;
}

.header-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-nav li {
    margin-left: 1.5rem;
}

.header-nav a {
    font-size: 1rem;
    color: #F8F8F2;
    text-decoration: none;
    transition: color 0.3s ease;
}

.header-nav a:hover {
    color: #66D9EF;
}
